<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('header') %>

      <h3>items</h3>

    <table class="table">
      <thead>
        <tr >
          <th  style="padding-right: 1em">SKU</th>
          <th  style="padding-right: 2em">name</th>
          <th  style="padding-right: 1em">warehouse</th>
          <th  style="padding-right: 1em">Edit</th>
          <th  style="padding-right: 1em">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let id in items) { %>
          <tr>
            <td style="padding-right: 2em">
              <%= items[id].SKU %>
            </td>
            <td  style="padding-right: 1em">
              <%= items[id].name %>
            </td>
            <td  style="padding-right: 1em">
              <%= items[id].warehouse ? items[id].warehouse : "Unassigned" %>
            </td>
            <td  style="padding-right: 1em">
              <form method="get" action="/items/<%= id %>">
                <button type="submit">Edit</button>
              </form>
            </td>
            <td  style="padding-right: 1em">
              <form method="POST" action="/items/<%= id %>/delete">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
</body>

</html>